body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
}
/** {
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}*/
a {
    text-decoration: none;
}

.menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}


.menu-item {
    position: relative;
}

.menu-item:hover > .submenu {
    display: block;
}

.menu-link {
    display: block;
    padding: 8px 15px;
    color: #fff;
    background-color: hsl(268, 76%, 68%);
}

.menu-link:hover {
    background-color: hsl(276, 81%, 58%);
}

.submenu {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    z-index: 1;
}

.submenu-link {
    display: block;
    padding: 8px 15px;
    color: #fff;
    background-color: hsl(268, 76%, 68%);
}

.submenu-link:hover {
    background-color: hsl(276, 81%, 58%);
}






